@model NitinolProject.Web.Models.Metal.MetalSampleModel

@{
    ViewBag.Title = "AddMetalSample";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Додання зразку металу</h2>

@using (Html.BeginForm("AddMetalSample", "Metal", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.MetalSampleId)

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })       
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SampleNumber, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.SampleNumber, new { type = "text", htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SampleNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MetalId, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.MetalId, (IEnumerable<SelectListItem>)ViewBag.MetalTypes ,"", new { @class = "form-control", style = "padding: 6px 12px;" })
                @Html.ValidationMessageFor(model => model.MetalId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CrystalLatticeId, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.CrystalLatticeId, (IEnumerable<SelectListItem>)ViewBag.CrystalLattices ,"",  new { @class = "form-control", style="padding: 6px 12px;" })
                @Html.ValidationMessageFor(model => model.CrystalLatticeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LoadingSpeed, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.LoadingSpeed, new { type = "number", htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LoadingSpeed, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LateralShearRate, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.LateralShearRate, new { type = "number", htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LateralShearRate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LongitudinalShearRate, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.LongitudinalShearRate, new { type = "number", htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LongitudinalShearRate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShearStrainRate, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.ShearStrainRate, new { type = "number", htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ShearStrainRate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SpallStrength, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.SpallStrength, new { type = "number", htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SpallStrength, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    <a href="/metal/index" class="btn btn-primary">Повернутися до списку металів</a>
    @*@Html.ActionLink("Back to List", "Index", "Metal", new { @class = "btn btn-primary" })*@
</div>
