@using Kendo.Mvc.UI
@using NitinolProject.Web.Models.Alloy
@{
    ViewBag.Title = "Index";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@




<style>
    .box {
        margin: 4.5em 7.5em;
        padding: 3em;
        background-color: rgba(20,53,80,0.038);
        border: 1px solid rgba(20,53,80,0.05);
    }

    .demo-section {
        margin: 0 auto 4.5em;
        padding: 3em;
        border: 1px solid rgba(20,53,80,0.14);
    }

        .demo-section:not(.wide),
        #exampleWrap .box:not(.wide) {
            max-width: 400px;
        }

        .box:after,
        .demo-section:after {
            content: "";
            display: block;
            clear: both;
            height: 0;
        }

    #exampleWrap .box {
        margin: 4.5em auto;
    }

    #example .box:first-child {
        margin-top: 0;
    }

    .demo-section.k-content {
        box-shadow: 0 1px 2px 1px rgba(0,0,0,.08), 0 3px 6px rgba(0,0,0,.08);
    }

    .box h4,
    .demo-section h4 {
        margin-bottom: 1em;
        font-size: 12px;
        line-height: 1em;
        font-weight: bold;
        text-transform: uppercase;
    }

    .box-col {
        display: block;
        float: left;
        padding: 0 3em 1.667em 0;
    }

    .box ul:not(.km-widget) li,
    .demo-section .box-col ul:not(.km-widget) li {
        line-height: 3em;
    }

    h1 {
        text-align: center;
    }
     td:last-child {
        text-align: center;
    }
</style>




<div class="panel-body">
    <h1>Вихідні дані по нітинолу</h1>
    @(Html.Kendo().Grid<NicelideTitanumSampleModel>()
          .Name("Samples")
          .Columns(columns =>
          {
              columns.Bound(p => p.SampleNumber).Title("<span class='row'>Номер зразку</span>").Width(110);
              columns.Bound(p => p.NickelideTitaniumAlloyName).Title("<span class='row'>Назва сплаву</span>").Width(120);
              columns.Bound(p => p.SampleThickness).Title("Товщина зразку <br/>H, мм");
              columns.Bound(p => p.HammerThickness).Title("Товщина ударника <br />h, мм");
              columns.Bound(p => p.HammerSpeed).Title("Швидкість ударника <br />V, м/c");
              columns.Bound(p => p.SpallSpeed).Title("Швидкість відколу <br />W, м/с");
              columns.Bound(p => p.SpallStrength).Title("Міцність відколу <br />σ, ГПа");
              columns.Bound(p => p.NicelideTitanumSampleId).Hidden(true);
              columns.Template(e => { }).Title("<span class='row'>Дія</span>").ClientTemplate(
                  "#if(data.NicelideTitanumSampleId > 6 ){#<a  data-placement='top' title='Редагувати' style='margin-right: 5px;' class='btn btn-success btn-xs' href='/home/editalloysample?id=#: data.NicelideTitanumSampleId #'><i class='fa fa-edit color-green'></i></a>" +
                  "<button title='Видалити' style='margin-right: 2px;' type='button' class='btn btn-danger btn-xs' onclick='removeSample(#:data.NicelideTitanumSampleId#)' ><i class='fa fa-trash color-red'></i></button>#}#")
                  .Width(105);
          })
          .Scrollable(a => a.Height(200))
          .Pageable()
          .HtmlAttributes(new { style = "margin-bottom: 15px;" })
          .DataSource(dataSource => dataSource
              .Ajax()
              .PageSize(7)
              .ServerOperation(true)
              .Read(read => read.Action("GetAlloySamples", "Home"))
          ))
    
    <a href="/home/addalloysample" class="btn btn-primary">Додати зразок</a>
    @*@Html.ActionLink("Додати зразок", "AddAlloySample", "Home", new { @class = "btn btn-primary" })*@


    <h1>Значення рівня якості зразків нітинолу</h1>
    @(Html.Kendo().Grid<NicelideTitanumSampleQualityModel>()
          .Name("Qualities")
          .Columns(columns =>
          {
              columns.Bound(p => p.NickelideTitaniumAlloyName).Title("Зразок").Width(120);
              columns.Bound(p => p.SampleThickness).Title("У(H)");
              columns.Bound(p => p.HammerThickness).Title("У(h)");
              columns.Bound(p => p.HammerSpeed).Title("У(V)");
              columns.Bound(p => p.SpallSpeed).Title("У(W)");
              columns.Bound(p => p.SpallStrength).Title("У(σ)");
              columns.Bound(p => p.QualityRate).Title("Рівень якості Ук");
              columns.Bound(p => p.NicelideTitanumSampleId).Hidden(true);
              columns.Template(e => { }).Title("Деталі").ClientTemplate($"<a href='/home/alloysampledetails?id=#: data.NicelideTitanumSampleId #' class='btn btn-primary btn-xs'><i class='fa fa-arrow-circle-o-right'></i>").Width(70);
          })
          .Scrollable(a => a.Height(250))
          .Pageable()
          .HtmlAttributes(new { style = "margin-bottom: 15px;" })
          .Events(e => e.DataBinding("qualitiesDataBinding"))
          .DataSource(dataSource => dataSource
              .Ajax()
              .PageSize(7)
              .ServerOperation(true)
              .Read(read => read.Action("GetAlloySampleQualities", "Home"))
          ))
    <h4 id="qualityResult" style="display: none;"></h4>
</div>
<div class="col-lg-12">
    <div id="example">
        <div class="k-content wide">
            <div id="chart"></div>
        </div>
        <script>
        $(function() {
            var chartsData =
                @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ChartsData));

            function createChart() {
                $("#chart").kendoChart({
                    title: {
                        text: "Циклограма якості нітинолу",
                        color: "#333333",
                        font: "20px sans-serif, bold"
                    },
                    legend: {
                        position: "right"
                    },
                    seriesDefaults: {
                        type: "radarLine"
                    },
                    series: chartsData,
                    categoryAxis: {
                        categories: [
                            "Міцність відколу У(σ)", "Швидкість ударника У(V)", "Товщина ударника У(h)",
                            "Швидкість відколу У(W)", "Товщина зразку У(H)"
                        ]
                    },
                    valueAxis: {
                        labels: {
                            format: "{0}"
                        }
                    },
                    tooltip: {
                        visible: true,
                        format: "{0}"
                    }
                });

                $("#chart").css("width", "1110px").css("height", "800px").data("kendoChart").resize();
            }

            $(document).ready(createChart);
            $(document).bind("kendo:skinChange", createChart);
        });

        function qualitiesDataBinding(e) {
            var qualityRates = new Array;
            qualityRates = jQuery.map(e.items,
                function(item) {
                    return item.QualityRate;
                });
            var maxQualityRate = Math.max.apply(null, qualityRates);

            var selectedItem = $.grep(e.items,
                function(e) {
                    return e.QualityRate === maxQualityRate;
                });

            var text = "Кращий зразок - зразок №" +
                selectedItem[0].SampleNumber +
                ", з рівнем якості Ук = " +
                maxQualityRate +
                ".";
            $('#qualityResult').text(text);
            $('#qualityResult').show();
        }

        function removeSample(id) {
            swal({
                    title: 'Підтвердження',
                    text: 'Ви справді хочете видалити зразок?',
                    showCancelButton: true,
                    confirmButtonColor: "#ec6c62",
                    confirmButtonText: 'Так',
                    cancelButtonText: "Ні",
                    type: "warning",
                    closeOnConfirm: true
                },
                function() {
                    $('#ProgressBarWindow').data("kendoWindow").open().center();

                    $.ajax({
                        url: "@Url.Action("DeleteAlloySample", "Home")",
                            type: 'POST',
                            contentType: 'application/json; charset=utf-8',
                            data: JSON.stringify({
                                id: id
                            }),
                            success: function(data) {
                                //$('#Samples').data('kendoGrid').dataSource.read();
                                //$('#Qualities').data('kendoGrid').dataSource.read();
                                onSuccessMessage('Видалення пройшло успішно');
                                location.reload(true);
                            },
                            error: function(errorData) {
                                onFailureValdationMessage('Помилка при видаленні');
                            },
                            complete: function() {
                                $('#ProgressBarWindow').data("kendoWindow").close();
                            }
                        });
                    });
            }
        </script>
    </div>
</div>